
html {
	height: 95%;
	margin:0;
	padding:0;
	color:#000;
	background:#a7a09a;
}


body {
    	font-size: 100.1%;
    	font-family: "Lucida Console", Monaco, monospace;
    	text-decoration: none;
    	vertical-align:middle;  
    	background-attachment: scroll;
	height: 100%;
}

#h1 {
	text-align: center;
}

#header {
	border-bottom:2px solid #369;
	height: 15%;
}

#nav ul {
	margin:0;
	padding:0;
	list-style:none;
}

#nav li {
	display:inline;
	margin:0;
	padding:0;
}

#content {
	float:left;
	left: 0%;
	width: 65%;
	height: 50%;
	text-align: justify;
}

#content img { 
	float:left; 
	margin-right: 5px;
}

#sidebar {
	float:right;
	border-left:2px solid #369;
	width:20%;
	height: 50%;
	padding: 5%;
	font-size: 80.1%;
	text-align: justify;
 
}

#footer {
	border-top:2px solid #369;
	padding-top: 10px;
	clear:both;
}

#footer ul {
	margin:0;
	padding:0;
	list-style:none;
}

#footer li {
	display:inline;
	margin:0;
	padding:0;
}

#progress {
    -webkit-border-radius: 10px;
    background-color: rgba(0,0,0,.7);
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 80px;
    left: 60px;
    line-height: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 120px;
    width: 200px;
    display: none;
}


