	
html {
	font-family:'Lucida Casual', 'Comic Sans MS';
	padding: 0px;
	min-height:101%; /*Scrollbar immer anzeigen*/
	width: 100%;
	
	/*background: url("/images/bg_image.jpg") repeat-x scroll left top, url("/images/tiled_bg_stars.jpg") repeat scroll left center transparent; /* Firefox */
	/*background: url("/images/bg_image.jpg") repeat-x scroll left top, url("/images/tiled_bg_stars.jpg") repeat scroll left center transparent; /* Safari, Chrome */
	/*background: url("/images/bg_image.jpg") repeat-x scroll left top, url("/images/tiled_bg_stars.jpg") repeat scroll left center transparent; /* Opera */
	/*background: url("/images/bg_image.jpg") repeat-x scroll left top, url("/images/tiled_bg_stars.jpg") repeat scroll left center transparent; /* W3C Standard */	
	background-image: url("/images/matrix_bg.jpg");
}

a:focus {
   outline: none;	
}

body {	
		margin-bottom: 10px;
    	font-size: 100.1%; 
    	text-decoration: none;
    	vertical-align:middle;  
		width: 950px;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: -25px;
		color: black;
		border-radius: 5px;
		font-family: "TitilliumText Thin";
		line-height: 3em;
		letter-spacing: 0.05em;
}

header {
	position: relative;
	top: 180px;
	margin-right: 100px;
	margin-left: 120px;
	height: 41px;
}

header h2 {
	line-height: 35px;
	position: relative;
	top: 6px;
	text-align: center;
   font: bold 30px/1 "Helvetica Neue",Helvetica,Arial,sans-serif;
   margin: 0;
    text-shadow:  
        -1px 1px 0 #ddd,  
        0px 1px 1px rgba(0,0,0,.4),  
        0px 2px 2px rgba(0,0,0,.3),  
        -1px 3px 3px rgba(10,10,10,.2),  
        -1px 5px 5px rgba(20,20,20,.1),  
        -2px 8px 8px rgba(30,30,30,.1),  
        -2px 13px 13px rgba(40,40,40,.1)  
        ;  
   <!--text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

.textglow:hover, .textglow:focus {
	
	color: whitesmoke;
	
   -webkit-stroke-width: 5.3px;

   -webkit-stroke-color: wheat;

   -webkit-fill-color: wheat;

   text-shadow: 1px 0px 20px yellow;

   -webkit-transition: width 0.3s; /*Safari & Chrome*/

   transition: width 0.3s;

   -moz-transition: width 0.3s; /* Firefox 4 */

   -o-transition: width 0.3s; /* Opera */

}

.bling {
	color: white;
	
   -webkit-stroke-width: 5.3px;

   -webkit-stroke-color: wheat;

   -webkit-fill-color: wheat;

   text-shadow: 1px 0px 20px yellow;

   -webkit-transition: width 0.3s; /*Safari & Chrome*/

   transition: width 0.3s;

   -moz-transition: width 0.3s; /* Firefox 4 */

   -o-transition: width 0.3s; /* Opera */

}


#headline .home {
	background-color: MidnightBlue; 
}


#headline .apps {
	background-color: #66CC00; 
}

#headline .games {
	background-color: gold; 
}

#headline .projects {
	background-color: darkorange;
}

#headline .blog {
	background-color: crimson; 
}

aside {
	position: relative;
	float:right;
	z-index: 10;
	top: 0px;
	padding-right: 35px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 80.1%;
	text-align: justify;
	height: 10px;
}

nav ul {
	font-size: 120%;
	display:block;
	padding:10px; 
	list-style:none;
}

#navLink {
	left: -10px;
	height: 75px;
	width: 972px;
}

nav ul li {
	text-decoration: none;
	display: inline-block;
	width: 120px;
	height: 78px;
	line-height: 50px;
	margin: 1em;
	margin-right: 1.8em;
	text-align: center;
	margin-top: 16px;

	 -moz-box-shadow:    2px 2px 2px 2px #000;
  	 -webkit-box-shadow: 2px 2px 3px 3px #000;
  	 box-shadow:         3px 3px 3px 3px #000;
}

nav ul li {
    -webkit-transition: all 0.0s ease-in-out;
    -moz-transition: all 0.0s ease-in-out;
    -o-transition: all 0.0s ease-in-out;
    transition: all 0.0s ease-in-out;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
}

nav ul li:hover, li:focus {
	
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); 
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
}

nav a {
	outline: none; 
	text-decoration: none;
	font-weight: bolder;
	width: 120px;
	height: 78px;
	background: rgba(0, 0, 0, 0.1875);
	text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1875),
   4px 6px 5px rgba(0, 0, 0, 0.1875),
   6px 4px 5px rgba(0, 0, 0, 0.1875),
   6px 6px 5px rgba(0, 0, 0, 0.1875);
}

nav a:link { text-decoration:none; border: 0 none;}
nav a:visited { text-decoration:none; border: 0 none;}
nav a:focus { text-decoration:none; border: 0 none;}
nav a:hover { text-decoration:none; border: 0 none;}
nav a:active { text-decoration:none; border: 0 none;}

.home_Button {
	cursor: pointer;
}

.apps_Button {
	cursor: pointer;
}

.games_Button {
	cursor: pointer;
}

.projects_Button {
	cursor: pointer;
}

.blog_Button {
	cursor: pointer;
}

#blogging {
	font-size: 0.6em;
}

#container {
  	  width: 100%;
     float: right;
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     border-radius: 15px;
     position: relative;
     min-height: 525px;
	  margin-bottom: 15px;
	  margin-top: -30px;
}

#headline{
	margin-bottom: 5px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	top: 40px;
	position: absolute;
	width: 952px;
	z-index: 20;
}

#headline.fixed {
    position: fixed;
    top: -40px;
}

#headline h1 {
	border: 1px solid black;
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
  font-size: 60px;
  position: relative;
  text-align: left;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
   text-shadow:  
        -1px 1px 0 #ddd,  
        0px 1px 1px rgba(0,0,0,.4),  
        0px 2px 2px rgba(0,0,0,.3),  
        -1px 3px 3px rgba(10,10,10,.2),  
        -1px 5px 5px rgba(20,20,20,.1),  
        -2px 8px 8px rgba(30,30,30,.1),  
        -2px 13px 13px rgba(40,40,40,.1)  
        ;  
   <!--text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 70px #ffffff, 0 0 80px #ffffff, 0 0 100px #ffffff, 0 0 150px #ffffff;
  line-height: 1em;
}

h1 small {
  font-size: 25px;
  position: relative;
  top: -25px;
  left: 19px;
}

#headline h2 {
  line-height: 1.2;
  color: #000;
  font-size: 22px;
  margin-top: -25px;
  padding-bottom: 13px;
  vertical-align: bottom;
}

#headline a{
	text-decoration: none;
}

#headline p {
  position: absolute;
  right: 25px;
  top: 3px;
  font-size: 14px;
  color: #555;
}	

#content1 {
	color: whitesmoke;
	font-size: 120.1%;
	float:left;
	width: 952px;
	min-height: 380px;
	text-align: justify;
	padding-top: 20px;
	padding-bottom: 25px;
	margin-bottom: 200px;
	overflow: hidden;
	position: relative;
	top: 140px;
	border: 2px solid whitesmoke;
	background: url("/images/bg_image.jpg") repeat-x scroll left top, url("/images/tiled_bg_stars.jpg") repeat scroll left center transparent; /* Firefox */
	background: url("/images/bg_image.jpg") repeat-x scroll left top, url("/images/tiled_bg_stars.jpg") repeat scroll left center transparent; /* Safari, Chrome */
	background: url("/images/bg_image.jpg") repeat-x scroll left top, url("/images/tiled_bg_stars.jpg") repeat scroll left center transparent; /* Opera */
	background: url("/images/bg_image.jpg") repeat-x scroll left top, url("/images/tiled_bg_stars.jpg") repeat scroll left center transparent; /* W3C Standard */
   border-radius: 15px;
   box-shadow: 0 1px 3px rgba(#FF, #FF, #FF, 0.25), 0 -1px 0 rgba(#FF, #FF, #FF, 0.1) inset;
}

#contentArea {
	padding-left: 10px; 
	padding-right: 15px;	
	font-size: 120.1%;
}


#content1 #home {
	border-left: 3px solid Midnightblue; 
	border-right: 3px solid Midnightblue; 
	padding-left: 10px; 
	padding-right: 10px;	
}

#content1 #apps {
	border-left: 3px solid #66CC00; 
	border-right: 3px solid #66CC00; 
	padding-left: 10px; 
	padding-right: 10px;	
}

#content1 #games {
	border-left: 3px solid gold; 
	border-right: 3px solid gold; 
	padding-left: 10px; 
	padding-right: 10px;	
}

#content1 #projects {
	border-left: 3px solid darkorange;
	border-right: 3px solid darkorange; 
	padding-left: 10px; 
	padding-right: 10px;	
}

#content1 #blog {
	border-left: 3px solid crimson; 
	border-right: 3px solid crimson;  
	padding-left: 10px; 
	padding-right: 10px;	
}

#content1 img { 
	float:left; 
	margin-right: 5px;
}

#content1 a { 
	text-decoration: none;
	color: wheat;
}

#font_size {
	float: left;
	position: fixed;
	bottom: 5%;	
	left: 10px;	
	color: whitesmoke;
  	filter: alpha(opacity=70);
  	-moz-opacity:0.7;
  	-khtml-opacity: 0.7;
  	opacity: 0.7;
  	width: 80px;
  	z-index: 5;
}

#language {
	float: left;
	position: fixed;
	bottom: 10%;	
	left: 18px;	
	width: 60px;
	z-index: 5;
}

#language img:hover {
	opacity: 1.0;
	border: 1px solid wheat;
}

.chosen {
	opacity: 1.0;
	border: 1px solid wheat;
}

.not_chosen {
	opacity: 0.4;
	border: 1px solid wheat;
}

label:hover, label:active {
  text-decoration: underline;
}


footer {
	margin-top: 150px;
	text-align: center;
	background-image: url("/images/footer.jpg");
	background-repeat:no-repeat ; 
	height: 255px;
}

#footer a  {
	color: whitesmoke;
	text-decoration: none;
	cursor: pointer;
}

#overview {
	width: 100%;
	text-align: center;
	line-height: 60px;
}

#overview:hover, #overview:focus {
	
	color: whitesmoke;
	
   -webkit-stroke-width: 5.3px;

   -webkit-stroke-color: wheat;

   -webkit-fill-color: wheat;

   text-shadow: 1px 0px 20px yellow;

   -webkit-transition: width 0.2s; /*Safari & Chrome*/

   transition: width 0.2s;

   -moz-transition: width 0.2s; /* Firefox 4 */

   -o-transition: width 0.2s; /* Opera */

}

#overview img{
	float: none;
	line-height: 250px;
	border: none;
}

#overview img:hover {
	 -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); 
    -webkit-stroke-width: 5.3px;
    transition-duration: 1s;
	-webkit-transition-duration: 1s; /* Safari */

   -webkit-stroke-color: wheat;

   -webkit-fill-color: wheat;

   text-shadow: 1px 0px 20px yellow;

   -webkit-transition: width 0.2s; /*Safari & Chrome*/

   transition: width 0.2s;

   -moz-transition: width 0.2s; /* Firefox 4 */

   -o-transition: width 0.2s; /* Opera */
    border: none;
}

#progress {
    -webkit-border-radius: 10px;
    background-color: rgba(0,0,0,.7);
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 80px;
    left: 60px;
    line-height: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 40%;
	 left: 40%;
    width: 200px;
    display: none;
    z-index: 9;
    border: 2px solid whitesmoke;
}

#android {
	 display: none;
}


textarea { 
	 background-color: transparent;
	 border: 4px solid crimson;
	 color: whitesmoke;
	 font-family:'Lucida Casual', 'Comic Sans MS';
	 font-size: 100.1%; 
	 width: 100%;
	 padding: 10px;
}

input, select {
	 border: none;
	 color: whitesmoke;
	 font-family:'Lucida Casual', 'Comic Sans MS';
	 font-size: 100.1%; 
	 width: 20%;
	 padding: 10px;
}

#apps_text {
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 8;
    padding: 5px;
}

.button {

}

.button:hover {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: 1px;
}

#wordpress {
	border: 5px solid #C8C2B3;	
}

#facebook{
	position: absolute;
	width: 110px;
	height: 30px;
	left: 175px;
	top: 85px;
	z-index: 9;
}

#googlePlus{
	position: absolute;
	width: 60px;
	height: 30px;
	left: 105px;
	z-index: 9;
	top: 85px;
}

#oldBrowser{
	display: none;	
}

/*
Theme Name: WordPress Classic modified
Theme URI: http://wordpress.org/
Description: The original WordPress theme that graced versions 1.2.x and prior.
Version: 1.5
Author: Dave Shea

Default WordPress by Dave Shea || http://mezzoblue.com
Modifications by Matthew Mullenweg || http://photomatt.net
This is just a basic layout, with only the bare minimum defined.
Please tweak this and make it your own. :)
*/

.post {
	font-size: 90%;
}

a {
	color: blueviolet;
	 -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

a:hover {
	color: maroon;
}

a:visited {
	color: violet;
}

a:hover {
	color: violet;
}

acronym, abbr {
	border-bottom: 1px dashed #333;
}

acronym, abbr, span.caps {
	font-size: 90%;
	letter-spacing: .07em;
}

acronym, abbr {
	cursor: help;
}

blockquote {
	border-left: 5px solid #ccc;
	margin-left: 1.5em;
	padding-left: 5px;
}

cite {
	font-size: 90%;
	font-style: normal;
}

h2 {
	border-bottom: 1px dotted #ccc;
	font: 115% "TitilliumText Thin";
	letter-spacing: 0.2em;
	margin: 15px 0 2px 0;
	padding-bottom: 2px;
}

h3 {
	border-bottom: dotted 1px #eee;
	margin-top: 0;
	font-size: 130%;
}

ol#comments li p {
	font-size: 100%;
}

p, .feedback {
	font: 120%/190% "TitilliumText Thin";
	text-align: justify;
}

/* classes used by the_meta() */
ul.post-meta {
	list-style: none;
}

ul.post-meta span.post-meta-key {
	font-weight: bold;
}

.credit {
	display: none;
}

.credit a:link, .credit a:hover {
	color: #fff;
}

.feedback {
	color: #ccc;
	text-align: right;
	clear: both;
	font-size: 2em;
}

.meta {
	font-size: .9em;
}

.meta li, ul.post-meta li {
	display: inline;
}

.meta ul {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

.meta, .meta a {
	color: #808080;
	font-weight: normal;
	letter-spacing: 0;
	font-size: 1.2em;
}

.storytitle {
	margin: 0;
	font-size: 1.5em;
}

.storytitle a {
	font-size: 1.5em;
}

.storytitle a:hover {
	color: maroon;
}

.storytitle a:visited {
	color: violet;
}

.storytitle a:hover {
	color: violet;
}

.storycontent {
	font-size: 1.5em;
	text-align: justify;
}

#commentform #author, #commentform #email, #commentform #url, #commentform textarea {
	background: #fff;
	padding: .2em;
}

#commentform textarea {
	width: 100%;
}

#commentlist li ul {
	border-left: 1px solid #ddd;
	font-size: 110%;
	list-style-type: none;
}

#content {
	margin: 2px 2em 0 2em;
	padding-right: 10px;
	text-align: justify;
	width: 95%;
	
}

#header1 {
	background: transparent;
	font: italic normal 230% "TitilliumText Thin";
	letter-spacing: 0.2em;
	margin: 0;
	padding: 15px 10px 15px 60px;
}

#header1 a {
	color: #DC143C;
	text-decoration: none;
}

#header1 a:hover {
	text-decoration: underline;
}

#menu form {
	margin: 0 0 0 13px;
}

#menu input#s {
	width: 80%;
	background: #eee;
	color: #000;
}

#menu ul {
	color: #ccc;
	font-weight: bold;
	list-style-type: none;
	margin: 0;
	padding-left: 3px;
	text-transform: lowercase;
}

#menu ul li {
	font: italic normal 110% "TitilliumText Thin";
	letter-spacing: 0.1em;
	margin-top: 10px;
	padding-bottom: 2px; /*border-bottom: dotted 1px #ccc;*/
}

#menu ul ul {
	font-variant: normal;
	font-weight: normal;
	line-height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

#menu ul ul li {
	border: 0;
	font: normal normal 14px/120% "TitilliumText Thin";
	margin-top: 0;
	padding: 0;
	padding-left: 12px;
}

#menu ul ul li a {
	color: #000;
	text-decoration: none;
}

#menu ul ul li a:hover {
	border-bottom: 1px solid #809080;
}

#menu ul ul ul.children {
	font-size: 142%;
	padding-left: 4px;
}

#wp-calendar {
	border: 1px solid #ddd;
	empty-cells: show;
	font-size: 14px;
	margin: 0;
	width: 90%;
}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
}

#wp-calendar a {
	display: block;
	text-decoration: none;
}

#wp-calendar a:hover {
	background: #e0e6e0;
	color: #333;
}

#wp-calendar caption {
	color: #999;
	font-size: 16px;
	text-align: left;
}

#wp-calendar td {
	color: #ccc;
	font: normal 14px "TitilliumText Thin";
	letter-spacing: normal;
	padding: 2px 0;
	text-align: center;
}

#wp-calendar td.pad:hover {
	background: #fff;
}

#wp-calendar td:hover, #wp-calendar #today {
	background: #eee;
	color: #bbb;
}

#wp-calendar th {
	font-style: normal;
	text-transform: capitalize;
}








